<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Amazon Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="add" method="post">
    <input type="text" name="url"><br>
    <input type="submit" value="Submit"><br>
</form>
<p th:text="'Hello, ' + ${name} + '!'" />
<div id = "data"></div>

</body>
<script th:inline = "javascript">
    var msg = [[${message}]];
    var allData = [[${allData}]];
    var ele = document.getElementById("data");

    alert(window.location.pathname);
    for(let i = 0; i < allData.length; i++) { //this will be used to display
        let d = document.createElement("div"); //section here

        let img = document.createElement("img");
        img.setAttribute("src", "/Photos/" + (allData[i].id) + ".jpg");// fix this to get image path from folder

        let title = document.createElement("q");
        title.innerHTML = allData[i].title;

        let price = document.createElement("b"); // bold
        price.innerHTML = "$" + allData[i].price;

        d.append(img, title, price);
        ele.appendChild(d);

    }

    if(msg != null) {
        alert(msg);
    }


</script>
</html>