<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Amazon Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="add" method="post">
    <input type="text" name="url"><br>
    <input type="submit" value="Submit"><br>
</form>
<p th:text="'Hello, ' + ${name} + '!'" />
<h1 id = "data"></h1>

</body>
<script th:inline = "javascript">
    var msg = [[${message}]]
    var allData = [[${allData}]]
    var ele = document.getElementById("data")
    ele.innerHTML = typeof allData
    if(msg != null) {
        alert(msg);
    }


</script>
</html>